@font-face {
  font-family: "Satoshi-Black";
  src: url("../../fonts/satoshi/Fonts/OTF/Satoshi-Black.otf");
}
@font-face {
  font-family: "PassengerSans-Regular";
  src: url("../../fonts/passenger-sans/PassengerSans-Regular-BF63eaffd178ad9.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PassengerSans-Regular";
  color: #2b2e4a;
}

.dashboard-container {
  width: 100%;
  display: flex;
}
.dashboard-container .sidebar {
  position: fixed;
  width: 15vw;
  height: 100vh;
  border-right: 1px solid #eee;
  background: #fff !important;
}
.dashboard-container .sidebar .sidebar-logo-container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-container .sidebar .sidebar-navigation-bar .sidebar-list-container .sidebar-list-title-wrapper {
  width: 100%;
  padding: 0 20px;
  margin: 0 0 5px 0;
}
.dashboard-container .sidebar .sidebar-navigation-bar .sidebar-list-container .sidebar-list-title-wrapper .sidebar-list-title {
  width: 100%;
  text-transform: uppercase;
  font-family: "Satoshi-Black";
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.dashboard-container .sidebar .sidebar-navigation-bar .sidebar-list-container .sidebar-list {
  width: 100%;
  padding: 5px 0px 5px 20px;
  list-style: none;
  transition: 500ms;
}
.dashboard-container .sidebar .sidebar-navigation-bar .sidebar-list-container .sidebar-list .sidebar-list-link {
  width: 100%;
  text-decoration: none;
  color: #2b2e4a;
  display: flex;
  gap: 10px;
  text-transform: capitalize;
  transition: 500ms;
}
.dashboard-container .sidebar .sidebar-navigation-bar .sidebar-list-container .sidebar-list .sidebar-list-link:hover {
  color: #040320;
}
.dashboard-container .sidebar .sidebar-navigation-bar .sidebar-list-container .sidebar-list:hover {
  border-right: 4px solid #040320;
}
.dashboard-container .--white-space {
  padding: 0 0 0 15vw;
  height: 100%;
}
.dashboard-container .dashboard-content {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.dashboard-container .dashboard-content .dashboard-content-navigation {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
}
.dashboard-container .dashboard-content .dashboard-content-navigation .dashboard-content-profile .fa-circle-user {
  font-size: 1.5rem;
}
.dashboard-container .dashboard-content .dashboard-content-table {
  width: 100%;
  overflow-x: auto;
}
.dashboard-container .dashboard-content .dashboard-content-table .dashboard-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.dashboard-container .dashboard-content .dashboard-content-table .dashboard-table .dashboard-table-row-header {
  text-align: left;
}
.dashboard-container .dashboard-content .dashboard-content-table .dashboard-table .dashboard-table-header {
  padding: 10px;
  font-weight: bold;
  text-transform: capitalize;
}
.dashboard-container .dashboard-content .dashboard-content-table .dashboard-table .dashboard-table-data {
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: left;
}/*# sourceMappingURL=dashboard.css.map */