@font-face {
    font-family: 'Satoshi-Black';
    src: url('../fonts/satoshi/Fonts/OTF/Satoshi-Black.otf');
}

@font-face {
    font-family: 'PassengerSans-Regular';
    src: url('../fonts/passenger-sans/PassengerSans-Regular-BF63eaffd178ad9.otf');
}