body {
    background: #F5F5F5;

    .navbar {
        // position: fixed;
        // z-index: 10;
        width: 100%;
        padding: 10px 20px;
        border: 1px solid #EEEEEE;
        background: #FFFFFF;
    
        .navbar-top-side {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
    
            .logo {
                font-size: 1.5rem;
                font-weight: 700;
            }
    
            .search-container {
                display: flex;
                align-items: center;
    
               .search-environtment-container {
                    display: flex;
                    align-items: center;
                    border: 1px solid #EEEEEE;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                    gap: 5px;
                    padding: 0 10px;
    
                .search-icon-container {
    
                    .fa-magnifying-glass {
                        font-size: 14px;
                    }
                }
    
                .search-text-box-container {
    
                    .search-text-box {
                        padding: 2.6px;
                        border-top-left-radius: 50px;
                        border-bottom-left-radius: 50px;
                        outline: none;
                        border: none;
                        color: #0a0a0a;
                    }
                }
               }
    
                .search-filter-box-container {
                    border: 1px solid #EEEEEE;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
    
                    .search-filter-box {
                        padding: 2px 0;
                        outline: none;
                        border: none;
                    }
                }
            }
    
            .navbar-feature-container {
                display: flex;
                align-items: center;
                gap: 25px;
    
                .fa-bell {
                    font-size: 1.2rem;
                }
                
                .profile-picture-container {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
        
                    .profile-picture {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }
        }
    
        .navbar-bottom-side {
            width: 100%;
    
            .navbar-links-container {
    
                .navbar-list {
                    display: inline-block;
                    text-decoration: none;
                    margin: 0 10px;
    
                    .navbar-link {
                        text-decoration: none;
                        color: #000000;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.container {
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 20px;

    .student-task-detail {
        width: 100%;
        height: 100vh;
        background: #FFFFFF;
        border-radius: 8px;
        border: 1px solid #EEEEEE;
    }

    .student-task {
        width: 100%;
        height: auto;
        background: #FFFFFF;
        border-radius: 8px;
        border: 1px solid #EEEEEE;

        .student-task-posts-container {
            width: 100%;
            height: 100%;
            padding: 20px 40px;

            .student-task-post-container {
                width: 100%;
                font-family: "Roboto", serif;
                border-bottom: 1px solid #EEEEEE;
                border-radius: 4px;
                padding: 40px 10px;

                .student-task-post-title {
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: #000000;
                    text-decoration: none;
                }

                .student-task-post-author-info-container {
                    font-size: 14px;
                    margin: 10px 0 5px 0;

                    .student-task-post-author-name {

                    }

                    .student-task-post-date {

                    }
                }

                .student-task-post-description {
                    font-weight: 300;
                    width: 80%;
                }

                .student-task-post-detail {
                    margin: 10px 0;
                    color: green;
                    text-decoration: none;
                    font-weight: 600;
                }
            }

            .student-task-post-container:hover {
                background: #EEEEEE;
            }

            .student-task-post-container:hover {
                .student-task-post-title {
                    color: green;
                }
            }
        }
    }

    .student-profile {
        width: 250px !important;
        // height: 400px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        border-radius: 8px;    
        padding: 20px;

        .student-profile-navigation {
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: end;

            .student-profile-navigation-icons {

                .fa-ellipsis {
                    cursor: pointer;
                }
            } 
        }

        .student-header-profile {
            width: 100%;
            display: flex;
            gap: 10px;
            // margin: 5px 0 0 0;
    
            .student-picture-container {
                width: 85px;
                height: 85px;
                border-radius: 50%;
    
                .student-picture {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
    
            .student-name-container {
                position: relative;
                display: flex;
                align-items: center;
                height: 100px;
    
                .student-name-overlay {
                    position: absolute;
                    
                    .student-full-name {
                        color: #000000;
                        text-decoration: none;
                        background: #FFFFFF;
                        padding: 2px 6px;
                        border-radius: 4px;
                        font-weight: 600;
                        text-transform: capitalize;
                        white-space: nowrap;        
                        overflow: hidden;           
                        text-overflow: ellipsis;    
                        width: 100px;
                        cursor: pointer;
                    }
    
                    .student-username {
                        color: #2b2e4a;
                        font-size: 14px;
                        padding: 2px 6px;
                    }
                }
            }
        }

        .student-middle-profile {
            margin: 25px 0;

            .student-badges-title {
                font-size: 1.2rem;
                font-weight: 700;
                text-transform: capitalize;
            }

            .student-badges-container {
                width: 100%;
                height: 13%;
                display: flex;
                flex-wrap: wrap;
                gap: 5px;

                .student-badge-container {
                    width: 35px;
                    height: 35px;

                    .student-badge {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        .student-progress-bar {

            .student-progress-bar-level-badge-container {
                width: fit-content;
                border: 1px solid #000000;
                border-radius: 8px;
                padding: 2px 5px;
                font-size: 14px;
            }
        }

        .student-footer-profile {
            width: 100%;
            display: flex;
            justify-content: center;

            .student-footer-icons {
                padding: 5px 20px;
                display: flex;
                gap: 10px;
                font-size: 1.2rem; 

                .fa-spotify {
                    border: 1px solid #EEEEEE;
                    border-radius: 4px;
                    padding: 10px;
                }

                .fa-instagram {
                    border: 1px solid #EEEEEE;
                    border-radius: 4px;
                    padding: 10px;
                }

                .fa-linkedin {
                    border: 1px solid #EEEEEE;
                    border-radius: 4px;
                    padding: 10px;
                }
            }
        }

        .student-profile-description {
            margin: 10px 0 0 0;

            .student-description {
                font-size: 14px; 
            }
        }
    }

    .student-activity-container {
        width: 80%;
        height: 522.78px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        border-radius: 8px;
        padding: 20px;

        .student-courses-container {
            width: 100%;
            display: flex;
            gap: 10px;

            .student-course-container {
                width: 200px;
                height: 200px;

                .student-course-picture-container {
                    width: 100%;
                    height: 90%;
                    border: 1px solid #EEEEEE;
                    border-radius: 10px;

                    .student-course-picture {
                        width: 100%;
                        height: 100%;
                        border: 1px solid #EEEEEE;
                        border-radius: 10px;
                        object-fit: cover;
                    }

                    .student-course-title {
                        padding: 10px 0;
                        color: green;
                    }

                    .student-course-title:hover {
                        text-decoration: underline;
                    }
                }

                .student-course-picture-container:hover {
                    box-shadow: 1px 1px 6px #EEEEEE;
                    cursor: pointer;
                }
            }
        }
    }
}