@font-face {
    font-family: 'WorkSans-Regular';
    src: url('../../fonts/work-sans/static/WorkSans-Regular.ttf');
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'WorkSans-Regular';
}

.home {
    width: 100%;
    min-height: 100vh;
    padding: 10% 40px 40px 40px;

    .profile-card {
        display: flex;
        align-items: center;
        background: #fff;
        gap: 20px;

        .profile-picture-wrapper {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            border: 1px solid #eee;

            .profile-picture {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .profile-information {

            .profile-level {
                text-transform: capitalize;
            }
            
            .profile-fullname {
                text-transform: capitalize;
                font-size: 2rem;
                font-weight: bold;
            }

            .profile-username {

            }

            .profile-score {
                margin: 10px 0;
            }
        }
    }

    .histories {

        .histories-title {
            text-transform: capitalize;
            font-size: 1.5rem;
            margin: 40px 0 20px 0;
        }

        .history-log {
            width: 100%;
            padding: 20px;
            background: #fff;
            border: 1px solid #eee;
        }
    }
}