@font-face {
    font-family: 'satoshi-black';
    src: url('../fonts/satoshi/Fonts/OTF/Satoshi-Black.otf');
}

@font-face {
    font-family: 'passenger-sans-regular';
    src: url('../fonts/passenger-sans/PassengerSans-Regular-BF63eaffd178ad9.otf');
}

@font-face {
    font-family: 'passenger-sans-light';
    src: url('../fonts/passenger-sans/PassengerSans-Light-BF63eaffd28789a.otf');
}

@font-face {
    font-family: 'work-sans-black';
    src: url('../fonts/work-sans/static/WorkSans-Black.ttf');
}

@font-face {
    font-family: 'typefesse-claire-obscure';
    src: url('../fonts/typefesse-master/Fonts/1-otf/Typefesse_Claire-Obscure.otf');
}

@font-face {
    font-family: 'outward-borders';
    src: url('../fonts/outward-master/fonts/ttf/outward-block.ttf');
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'passenger-sans-regular';
}

html {
    scroll-behavior: smooth;
}

body {
    background: #ffffff;
    padding: 40px;
}

.review {
    width: 100%;

    .review-title {
        font-family: 'satoshi-black';
        font-size: 120px;
        text-transform: uppercase;
        margin: 100px 0;
    }

    .review-info {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 100px;

        .review-details-container {
            width: 50%;
            height: 100%;
    
            .review-detail-row {
                border-bottom: 1px solid #eee;
                height: fit-content;
                padding: 25px 0;


                .review-row-title {
                    font-size: 20px;
                    text-transform: capitalize;
                    padding: 0 0 10px 0;
                }

                .review-row-value {
                    font-size: 20px;
                    text-transform: capitalize;
                    color: gray;
                }

                .review-row-penalty {
                    text-transform: capitalize;
                }

                .review-row-duration {

                }
            }

            .review-detail-row:nth-child(5) {
                width: fit-content;
                padding: 25px 0 0 0;
                border: none;

                .review-row-title {
                    display: block;
                    text-decoration: none;
                    color: #000;

                    .review-title-icon {
                        font-size: 12px;
                    }
                }
            }

            .review-detail-row:nth-child(5):hover {
                border-bottom: 1px solid #000;
                cursor: pointer;
            }

            .review-link:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        .review-cover {
            position: relative;
            width: 50%;
            height: 100%;
            border-radius: 40px;

            .review-cover-overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 10;
                color: #fff;

                .review-overlay-content {
                    text-align: center;

                    .review-overlay-logo {
                        font-family: 'outward-borders';
                        font-size: 12rem;
                        text-transform: capitalize;
                    }

                    .review-overlay-brandname {
                        font-size: 1.5rem;
                    }

                    .review-developers {
                        font-size: 12px;
                        padding: 300px 0 0 0;
                    }
                }
            }

            .review-picture {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 40px;
            }
        }
    }
}

.--transform-none {
    text-transform: none !important;
}

.quiz {
    // padding: 25px;
    margin: 60px 0 30px 0;
    width: 100%;
    font-size: 20px;
    // background: #fefefe;
    color: gray;
    border-radius: 20px;

    .quiz-questions-container {
        width: 100%;
        border-bottom: 1px solid #eee;

        .quiz-question {
            padding: 10px 0;
        }
    }
    
    .quiz-options-container {
        width: 100%;
        padding: 10px 0;

        .quiz-options-wrapper {
            width: 100%;
            margin: 5px 0;
            padding: 10px 0;

            .quiz-option-label {
                font-family: 'Times New Roman', Times, serif;
                color: #2b2e4a;
            }
        }
    }

    .form-quiz {
        
        .quiz-submit {
            border: none;
            outline: none;
            padding: 10px;
            background: #000;
            color: #fff;
        }
    }
}

.--unlocked {
    color: #000;
}

.--locked {
    color: gray;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: 500ms;
    z-index: 10;

    .popup-content-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        .popup-content {
            width: 600px;
            height: 100%;
            background: #fff;
            padding: 10px 20px;

            .popup-content-navigation {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .popup-content-status {
                    text-transform: capitalize;
                    color: gray;
                    padding: 5px 0;
                }

                .fa-xmark {
                    font-size: 20px;
                }

                .fa-xmark:hover {
                    cursor: pointer;
                }
            }

            .popup-content-details {
                
                .popup-content-title {
                    font-family: 'satoshi-black';
                    font-size: 2rem;
                    text-transform: uppercase;
                }

                .popup-content-author {
                    padding: 10px 0;

                    .popup-content-lecturer {
                        text-transform: capitalize;
                        color: gray;
                    }

                    .popup-content-degree {
                        text-transform: capitalize;
                        color: gray;
                    }
                }

                .popup-content-deadline {
                    margin: 0 0 20px 0;
                }

                .popup-content-info {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    .popup-enrollment-container {
                        width: fit-content;
                        padding: 8px;
                        border-radius: 4px;
                        background: #000;
                        color: #fff;
                        text-transform: capitalize;

                        .form-enroll {

                            .button-enroll {
                                padding: 5px;
                                border: none;
                                background: #000;
                                color: #fff;
                                outline: none;
                                cursor: pointer;
                            }
                        }

                        .popup-content-link {
                            color: #fff;
                            text-decoration: none;
                        }
                    }

                    .popup-content-status {
                        display: inline-block;
                        text-transform: capitalize;
                        color: gray;
                    }
                }

                .popup-questions {
                    width: 100%;
                    height: 70%;
                    padding: 8px;
                    margin: 40px 0;
                    border-radius: 8px;
                    border: 1px solid #eee;
                    overflow-y: scroll;
    
                    .popup-quizzes-container {
                        width: 100%;
                        height: fit-content;
    
                        .popup-content-quizzes-container {
    
                            .popup-content-quiz-question-container {
                                border-bottom: 1px solid #eee;
        
                                .popup-content-quiz-question {
                                    padding: 5px 0;
                                    color: gray;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.--appear {
    opacity: 1;
    pointer-events: auto;
}

.--hide {
    opacity: 0;
    pointer-events: none; /* Mencegah interaksi saat disembunyikan */
    transition: opacity 0.3s ease, transform 0.3s ease;
}