@font-face {
    font-family: 'Satoshi-Black';
    src: url('../../fonts/satoshi/Fonts/OTF/Satoshi-Black.otf');
}

@font-face {
    font-family: 'PassengerSans-Regular';
    src: url('../../fonts/passenger-sans/PassengerSans-Regular-BF63eaffd178ad9.otf');
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.administrator-dashboard-container {

    .administrator-dashboard-wrapper {
        width: 100%;
        height: 100vh;
        padding: 20px;
        gap: 20px;
        display: flex;
    
        .administrator-dashboard-sidebar {
            width: 15vw;
            border: 1px solid #eee;
            padding: 10px;

            .administrator-sidebar-title {
                text-transform: uppercase;
                font-weight: bold;
                margin: 0 0 10px 0;
            }

            .administrator-sidebar-lists {

                .administrator-sidebar-list {
                    list-style: none;
                    padding: 5px;
                    border: 1px solid #eee;

                    .administrator-sidebar-link {
                        text-decoration: none;
                        text-transform: capitalize;
                        color: #000;
                    }
                }
            }
        }
    
        .administrator-dashboard-content {

            .dashboard-name-wrapper {
                padding: 10px 0;
                margin: 0 0 10px 0;
                border-bottom: 1px solid #000;

                .dashboard-name {
                    text-transform: capitalize;
                }
            }
    
            .administrator-greetings-wrapper {
                .administrator-greetings-word {
                    text-transform: capitalize;
                }
        
                .administrator-fullname {
                    font-size: 3rem;
                    text-transform: capitalize;
                }
            }
        }
    }
}